body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    margin-top: 50px;
    text-align: center;
}

h1 {
    color: #333;
}

button{
    padding: 10px 20px;
    background-color: #f0f0f1;
    color: #0e0e0e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #489df8;
}

img {
    width: 200px;
    margin-top: 20px;
    text-align: center;
}
